h1 {
  font-family: 'CabinSketch', cursive;
  font-size: 210pt;
  text-align: center;
}

h2 {
  font-family: 'OpenSan-Bold', sans-serif;
  font-size: 2em;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

#banner {
  margin-bottom: 1em;
  text-align: center;
}

#button1 {
  text-align: center;
}

#button2 {
  text-align: center;
}

#button3 {
  text-align: center;
}

#content {
  justify-content: center;
}

#card {
  background-color:black;
  padding: 1em;
  margin-top: 3em;
}

#photo {
  padding:0px;
  margin:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

p {
  font-family: 'OpenSan-Bold', sans-serif;
  font-size: 16pt;
  margin: 0px;
}

@font-face {
    font-family: 'CabinSketch';
    src: url('fonts/CabinSketch-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSan-Bold';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
