#icon{
    height: 3em;
}

#icon:hover{
    mix-blend-mode: screen;
}

h1{
    font-family: 'Monoton';
    color: white;
    mix-blend-mode: difference;
}

h2{
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 40pt;
    color: white;
    mix-blend-mode: screen;
}

/*
h2:hover{
mix-blend-mode: difference;
}

h2:active{
mix-blend-mode: difference;
}
*/

@media (max-width: 768px) {
    h1{font-size: 15vw}
    h2{vertical-align: center}
}

@media (min-width: 768px) {
    h1{font-size: 9vw}
    h2{margin-left: 0.5em}
}

#social-media{
    margin-top: 2em;
}

#content{
    padding-top: 0.6em;
    padding-bottom: 0.5em;
}

a:link {
    color: black;
    text-decoration:  none;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}