
body {
  font-family: 'OpenSan-Bold', sans-serif;
  margin: 2em;
}

h1 {
  font-family: 'CabinSketch', cursive;
  font-size: 210pt;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 4em;
  margin-top: 50%;
  margin-bottom: 50%;
}

p {
  font-size: 16pt;
  margin: 0px;
  margin-bottom: 1em;
}

a {
  color:inherit;
}

a:hover {
  color: inherit;
}

#banner {
  margin-bottom: 1em;
  text-align: center;
}

#button1 {
  text-align: center;
  padding-bottom: 1em;
  border: thick solid transparent;
}
#button1:hover {
  border: thick solid black;
}

#button2 {
  text-align: center;
  padding-bottom: 1em;
  border: thick solid transparent;
}
#button2:hover {
  border: thick solid black;
}


#button3 {
  text-align: center;
  padding-bottom: 1em;
  border: thick solid transparent;
}
#button3:hover {
  border: thick solid black;
}


#content {
  justify-content: center;
}

#card {
  padding: 1em;
  padding-bottom: 1em;
  margin-top: 3em;
  /*background-color:black;*/
  color:black;
  border: thick solid black;
}

#cardnumber {
  font-weight: bold;
}

#photo {
  padding:0px;
  margin:0px;
  width: 100%;
  /*border: thick solid black;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;*/
}

#projetnumber {
  padding:0px;
  text-align: center;
}

#socialmedia {
  vertical-align: middle;
  text-align: center;
}

.resume {
  margin: 0px;
  text-align: center;
  padding: 2em;
}

@font-face {
    font-family: 'CabinSketch';
    src: url('fonts/CabinSketch-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSan-Bold';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
