/*  SECTIONS  */
.section {
	clear: both;
    padding: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
    max-width: 414px; 
}
.col:first-child { 
    margin-left: 0;     
}
.col:nth-child(2) {
    overflow-y: scroll;
    height: 100vh;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 828px) {
    .span_2_of_2, .span_1_of_2 { width: 100%; }
    body {max-width: 414px;}

    .col:nth-child(2) {
        /* overflow-y: scroll; */
        height: auto;
    }
}

::-webkit-scrollbar { 
    display: none; 
}
html{
    -ms-overflow-style: none
}

#content browser, .browserStack>browser {
	margin-right:-32px!important;
	margin-bottom:-32px!important;
	overflow-y:scroll;
	overflow-x:hidden;
}