body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background: #e5e7e9;
    display: flex;
    justify-content: center;
}

.card {
    margin: 1em 1em 0em 1em;
    background: #eff1f3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 4px;
    overflow: hidden;
}
.container {
    padding: 1em 0px 1em 1em;
}

video {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
audio {
    width: 100%;
    background: #f1f3f4;
}

img {
    width: 100%;
    vertical-align: middle;
}
.audioplayer {
    width: 100%;
    height: 288px;
    background-size: cover;
    position: relative;
}
  
.audioplayer audio{
    position: absolute;
    bottom: 0;
    width: 100%
}

.label {
    padding: 3px 8px;
    background: #4b9af7;
    color: white;
    border-radius: 4px;
    display: inline-block;
    vertical-align: sub;
    margin: 1em 1em 0px 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.link {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: inline-block;
    margin: 1em 1em 0px 0px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.link:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.links {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0px;
    color: black;
    font-size: 1.6em
}
p {
    margin: 0px;
    color: #525a64
}
a {
    color: #525a64
}

.description {
    padding-right: 16px;
}

.user {
    margin-left: auto;
    margin-right: auto;
}

.info {
    display: flex;
    margin: 16px;
}

.profile {
    max-width: 150px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile-container {
    margin-right: 16px;
}
.copyright {
    text-align: center;
    padding-left: 0px;
}